@model ML.Cine
@{
    ViewBag.Title = "Mapa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Cines cercanos</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSKBDdPPlfca_zTwyxKiicRQn1qfgRjLw&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("FormMapa", "Cine", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col">
                        @Html.LabelFor(model => model.Latitud, new { @class = "visually-hidden" })
                        @Html.TextBoxFor(model => model.Latitud, new { @class = "visually- form-control", @id = "txtLatitud", @readonly="readonly" } )
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @Html.LabelFor(model => model.Longitud, new { @class = "visually-hidden" })
                        @Html.TextBoxFor(model => model.Longitud, new { @class = "visually- form-control", @id = "txtLongitud", @readonly="readonly" } )
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @Html.LabelFor(model => model.IdCine, new { @class = "visually-hidden" })
                        @Html.TextBoxFor(model => model.IdCine, new { @class = "visually-hidden form-control"} )
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Nombre)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa-solid fa-circle-user fa-beat" style="color: #54A3B1"></i></span>
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Direccion)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa-solid fa-circle-user fa-beat" style="color: #54A3B1"></i></span>
                            @Html.TextBoxFor(model => model.Direccion, new { @class = "form-control", @id = "address", @readonly="readonly" })
                            @Html.ValidationMessageFor(model => model.Direccion)
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Venta)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa-solid fa-circle-user fa-beat" style="color: #54A3B1"></i></span>
                            @Html.TextBoxFor(model => model.Venta, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Venta)
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Zona)
                        @Html.DropDownListFor(model => model.Zona.IdZona, new SelectList(Model.Zona.Zonas, "IdZona", "Nombre"), "Selecciona una opción", new { @class = "form-control", @id = "ddlZona" })
                    </div>

                    <div class="col-md-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Regresar", "GetAll", "Cine", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>

                </div>
            }
        </div>
    </div>
    <div>
        <div id="map" style="height: 550px; width: 80%;"></div>
    </div>
    <script>
        // Función para inicializar el mapa y agregar un evento de clic en el mapa
        function initializeMap() {
            var mapOptions = {
                center: new google.maps.LatLng(19.432442643830868, -99.13315355524296),
                
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            google.maps.event.addListener(map, 'click', function (event) {
                getAddress(event.latLng.lat(), event.latLng.lng());
            });
            let infoWindow = new google.maps.InfoWindow({
                content: "Presiona la locación",
                //position: myLatlng,
            });

            infoWindow.open(map);
            map.addListener("click", (mapsMouseEvent) => {
                // Close the current InfoWindow.
                infoWindow.close();
                // Create a new InfoWindow.
                infoWindow = new google.maps.InfoWindow({
                    position: mapsMouseEvent.latLng,
                });
                infoWindow.setContent(
                    JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
                );

                infoWindow.open(map);
                var Latitud = mapsMouseEvent.latLng.lat();
                var Longitud = mapsMouseEvent.latLng.lng();
                $('#txtLatitud').val(Latitud);
                $('#txtLongitud').val(Longitud);
            });
        }
        // Función para obtener la dirección utilizando las coordenadas latitud y longitud
        function getAddress(lat, lng) {
            var geocoder = new google.maps.Geocoder();
            var latLng = new google.maps.LatLng(lat, lng);

            geocoder.geocode({ 'latLng': latLng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        $('#address').val(results[0].formatted_address);
                    }
                } else {
                    alert('No se pudo obtener la dirección. Por favor, intenta de nuevo.');
                }
            });
        }
        // Inicializar el mapa cuando la página haya cargado
        google.maps.event.addDomListener(window, 'load', initializeMap);
        
        

                            
    </script>
</body>
</html>
